body {background-image:url('terminal.png'); background-size:cover; background-repeat:no-repeat; background-position:center top;}
.header {text-align:left; text-shadow:2px 2px hotpink; color:#FFFF33; font-size:300%; font-family:monospace;}
.div1 {padding:4px; border:ridge 2px #888888; color:#ffffff; border-radius:15px; width:99%; height:90%; font-size:125%; font-family:monospace;}
.hr1 {color:pink; padding:4px; border:ridge 1px #ffffff; border-radius:15px; background-image:url('rainbow.gif');}
.hr2 {color:pink; padding:4px; border:ridge 1px #ffffff; border-radius:15px; background-image:url('rainbowflip.gif');}
