body {background-color:#000000; background-size:fill;}
.header {text-align:left; text-shadow: 2px 2px hotpink; color:#ffffff; font-size:300%; font-family:monospace;}
.div1 {padding:4px; border:ridge 2px #888888; color:#ffffff; border-radius:15px; background-color:#1E1E1E; width:99%; height:90%; background-size:fill; font-size:150%; font-family:monospace;}
.hr1 {color:pink; padding:4px; border:ridge 1px #ffffff; border-radius:15px; background-image:url('rainbow.gif');}
.hr2 {color:pink; padding:4px; border:ridge 1px #ffffff; border-radius:15px; background-image:url('rainbowflip.gif');}
