body {background-color:#000006; background-image:url('stars.gif'); background-size:fill;}

.header1 {margin-top:-6px; margin-left:-7px; margin-right:-7px; text-align:center; text-shadow:2px 2px hotpink; color:#FFFF33; padding:8px; font-size:300%; border: 2px ridge #87CEEB; border-radius:15px; background-color:#000000; background-image:url('fallingcomets.gif'); background-size:fill; font-family:monospace;}

.td1 {color:#9B111E; Width:300px; height:2200px; vertical-align:top; border: 2px ridge #87CEEB; border-radius:5px 5px 15px 15px; background-color:#000000; background-image:url('fallingcomets.gif'); background-size:fill; font-family:Monospace;}

.td2 {color:#0F52BA;text-align:center; width:100.25%; height:2200px; vertical-align:top; display:inline-block; border: 2px ridge #87CEEB; border-radius:5px 5px 15px 15px; background-color:#1e1e1e; font-family:Monospace;}

table {margin-left:-8px; margin-right:-8px; width:100%; align-content:center;}

p {color:#0F52BA;}

.span1 {opacity:1.0;}

.div1 {display:flex; align-content:center; justify-content:center;}

.div2 {display:flex; align-content:center; justify-content:center; border:ridge 3px #dddddd; font-size:150%; color:#dddddd; margin-top:-1.5%; margin-bottom:.8%;}

.hr1 {padding:4px; border:ridge 0px #ffffff; border-radius:15px; background-image:url('rainbow.gif');}

.hr2 {padding:4px; border:ridge 0px #ffffff; border-radius:15px; background-image:url('rainbowflip.gif');}

.button1 {background-color:#000000; padding:6px 6px; color:#9B111E; opacity:0.6; font-size:175%; width:300px; text-align:center; display:inline-block; border:ridge 1px #0F52BA; margin-left:-.5px; margin-bottom:1px; font-family:Monospace; cursor:pointer;}

.link {background-color:#bf00ff; padding: 6px 6px; text-align: center; text-decoration: none; display:inline-block;}

a:hover, a:active {opacity:1.0; cursor:pointer;}

.button1:hover {opacity:1.0; cursor:pointer;}

.dtb {list-style-type:none; background-color:#000000; padding:6px 6px; color:#00674F; opacity:0.8; font-size:175%; width:96.5%; min-height:8%; text-align:center; display:inline-block; border:ridge 5px #0F52BA; font-family:Monospace; outline:ridge 5px #9B111E;}

.dtb:hover {opacity:1.0; cursor:pointer;}

.audioplayer {width:95%; text-align:center; padding:6px 6px; color:#9B111E; background-color:#000000; border:ridge 1px #0F52BA; border-radius:20px; margin-bottom:7px; font-family:Monospace; cursor:pointer; align-content:center;}

.div0 {display:none;}

.controls {
    display:flex;
    align-items: center;
    margin-top:0px;
}

.progress {
    height: 10px;
    background-color: #ccc;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
}

#current-time, #total-time {color:#ffffff;
}

.button2 {background-color:#000000; color:#dddddd; opacity:0.6; font-size:100%; width:100%; text-align:center; display:inline-block; border:ridge 3px #dddddd; margin-bottom:0%; font-family:Monospace; cursor:pointer;}

.button2:hover {opacity:1.0; cursor:pointer;}

.dropbtn {background-color:#000000; color:#dddddd; opacity:0.8; font-size:125%; width:100%; text-align:center; display:inline-block; border:ridge 3px #dddddd;  margin-bottom:.3%; margin-top:0%; font-family:Monospace; cursor:pointer;}

.dropbtn:hover, .dropbtn:focus {opacity:1.0; cursor:pointer;}

.dropdown {position:relative;  display:block; width:100%; margin-top:-3%; margin-bottom:-8%;}

.dropdown-content {list-style-type: none; display:none; width:98%; min-height:50%; position:absolute; z-index:1; background-color:#000000; color:#dddddd; font-size:100%; border:ridge 3px #dddddd; margin-bottom:0%; margin-right:2.25%; font-family:Monospace;}

.dropdown-content .button2 {list-style-type: none; background-color:#000000; padding:6px 6px; color:#dddddd; opacity:0.7; font-size:100%; width:100%; text-align:center; display:inline-block; border:ridge 3px #dddddd; font-family:Monospace; cursor:pointer;}

.dropdown-content .button2:hover {opacity:1.0; cursor:pointer;}

.show {display:block;}

/* CRT filter
*/
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

