body {background-color:#000006; background-image:url('stars.gif'); background-size:fill;}

.header1 {margin-top:-8px; margin-left:-8px; margin-right:-8px; margin-bottom:5px; text-align:center; text-shadow:2px 2px hotpink; color:#FFFF33; padding:8px; font-size:300%; border: 2px ridge #87CEEB; border-radius:15px; background-color:#000000; background-image:url('fallingcomets.gif'); background-size:fill; font-family:monospace;}

.td1 {color:#9B111E; Width:300px; height:2200px; vertical-align:top; border: 2px ridge #87CEEB; border-radius:5px 5px 15px 15px; background-color:#000000; background-image:url('fallingcomets.gif'); background-size:fill; font-family:Monospace;}

.td2 {color:#0F52BA;text-align:center; width:100%; height:2200px; vertical-align:top; display:inline-block; border: 2px ridge #87CEEB; border-radius:5px 5px 15px 15px; background-color:#1e1e1e; font-family:Monospace;}

table {margin-left:-8px; margin-right:-8px; width:100.6%; align-content:center;}

p {color:#0F52BA;}

.span1 {opacity:1.0;}

.div1 {display:flex; align-content:center; justify-content:center;}

.div2 {display:flex; align-content:center; justify-content:center; border:ridge 3px #dddddd; font-size:150%; color:#dddddd; margin-top:-1.5%; margin-bottom:.8%;}

.hr1 {padding:4px; border:ridge 0px #ffffff; border-radius:15px; background-image:url('rainbow.gif');}

.hr2 {padding:4px; border:ridge 0px #ffffff; border-radius:15px; background-image:url('rainbowflip.gif');}

.button1 {background-color:#000000; padding:6px 6px; color:#9B111E; opacity:0.6; font-size:175%; width:275px; text-align:center; display:inline-block; border:ridge 1px #0F52BA; border-radius:15px; margin-left:12px; margin-bottom:5%; font-family:Monospace; cursor:pointer;}

.link {background-color:#bf00ff; padding: 6px 6px; text-align: center; text-decoration: none; display:inline-block;}

a:hover, a:active {opacity:1.0; cursor:pointer;}

.button1:hover {opacity:1.0; cursor:pointer;}

.dtb {list-style-type:none; background-color:#000000; padding:6px 6px; color:#00674F; opacity:0.8; font-size:175%; width:97.5%; min-height:8%; text-align:center; display:inline-block; border:ridge 5px #0F52BA; font-family:Monospace; outline:ridge 5px #9B111E;}

.dtb:hover {opacity:1.0; cursor:pointer;}

.audioplayer {width:95%; text-align:center; padding:6px 6px; color:#9B111E; background-color:#000000; border:ridge 1px #0F52BA; border-radius:20px; margin-bottom:7px; font-family:Monospace; cursor:pointer; align-content:center;}

.div0 {display:none;}

.controls {
    display:flex;
    align-items: center;
    margin-top:0px;
}

.progress {
    height: 10px;
    background-color: #ccc;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
}

#current-time, #total-time {color:#ffffff;
}

.button2 {background-color:#000000; color:#dddddd; opacity:0.6; font-size:100%; width:100%; text-align:center; display:inline-block; border:ridge 3px #dddddd; margin-bottom:0%; font-family:Monospace; cursor:pointer;}

.button2:hover {opacity:1.0; cursor:pointer;}

.dropbtn {background-color:#000000; color:#dddddd; opacity:0.8; font-size:125%; width:100%; text-align:center; display:inline-block; border:ridge 3px #dddddd;  margin-bottom:.3%; margin-top:0%; font-family:Monospace; cursor:pointer;}

.dropbtn:hover, .dropbtn:focus {opacity:1.0; cursor:pointer;}

.dropdown {position:relative;  display:block; width:100%; margin-top:-3%; margin-bottom:-8%;}

.dropdown-content {list-style-type: none; display:none; width:98%; min-height:50%; position:absolute; z-index:1; background-color:#000000; color:#dddddd; font-size:100%; border:ridge 3px #dddddd; margin-bottom:0%; margin-right:2.25%; font-family:Monospace;}

.dropdown-content .button2 {list-style-type: none; background-color:#000000; padding:6px 6px; color:#dddddd; opacity:0.7; font-size:100%; width:100%; text-align:center; display:inline-block; border:ridge 3px #dddddd; font-family:Monospace; cursor:pointer;}

.dropdown-content .button2:hover {opacity:1.0; cursor:pointer;}

.show {display:block;}

